/* Colores */

body{
    width:100%;
}

.marron-mas-oscuro{
    background-color: #403422;
} 
.marron-oscuro{
    background-color: #BF852E;
} 
.marron-medio{
    background-color: #DFC298;
} 
.marron-claro{
    background-color: #D9B175;
} 
.marron-mas-claro{
    background-color: #fdede1;
} 
.azul-oscuro{
    background-color: #054373;
} 
.azul-medio{
    background-color: #2E81BF;
}

/* Header */

.colorBlanco{
    color: white;
}

.colorNegro{
    color: black;
}

.noOverflow{
    overflow: hidden;
}

.colorRojo{
    color: rgb(159, 12, 12);
}

#introduccion{
    height: 100vh; 
}
#titulo-tentacion{
    font-size: 4.5em;

}

.contenedor-titulo{
    height: 30vh;
    width: 30vw;
    border: 1px solid white;
}

.height10vh{
    height: 10vh;
}

.font-family-exo{
    font-family: 'Exo', sans-serif;
}

.bg-fondo1{
    background-image: url(../images/mediterranean-cuisine-2378758.jpg);
    background-size: cover;
    background-position: bottom;
}

.bg-fondo-1-peq{
background-color: rgba(255, 255, 255, 0.40);
}

.bg-blanco-transp{
    background-color: rgba(255, 255, 255, 0.20);
}

.bg-gris-claro{
    background-color: rgb(243, 243, 243);
}

.altura-iconos{
    height: 30px;
}

.altura-iconos-contacto{
    height: 50px;
}

.bg-fondo-2{
    background-image:url(../images/pizza-4968645.jpg);
    background-size: cover;  
    background-repeat: no-repeat;  
}

.bg-fondo-3{
    background-image:url(../images/fork-973900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fondo-4{
    background-image: url(../images/delicious-cupcakes-with-copy-space.jpg);
    background-size: cover;
    background-position: top;
}

.bg-negro{
    background-color: rgb(18, 17, 17);
    color: #FFF;
    transition: all .5s;
}

.bg-negro:hover{
    background-color: rgb(159, 12, 12);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #2E81BF;
    opacity: 70%;
}

.bg-white-op-70{
    background-color: white;
    opacity: 70%;
}

.cursor-pointer{
    cursor: pointer;
}

.noDisplay{
    display: none;
}

.border-radius-1rem{
    border-radius: 1rem;
}

.rem4{
    font-size: 4rem;
}

.rem2{
    font-size: 2rem;
}

