/* Colores */

body{
    width:100%;
}

.colorBlanco{
    color: white;
}

.colorNegro{
    color: black;
}

.colorRojo{
    color: rgb(159, 12, 12);
}

/* Propiedades */

.noOverflow{
    overflow: hidden;
}

.noOpacity{
    opacity: 0;
}

.noTextDecoration{
    text-decoration: none;    
}

.noTextDecoration:hover{
    color: rgb(204, 15, 15);
}

.cursor-pointer{
    cursor: pointer;
}

.noDisplay{
    display: none;
}

.border-radius-1rem{
    border-radius: 1rem;
}

.rem4{
    font-size: 4rem;
}

.rem2{
    font-size: 2rem;
}

.contenedor-titulo{
    height: 30vh;
    width: 30vw;
    border: 1px solid white;
}

.font-family-exo{
    font-family: 'Exo', sans-serif;
}

.altura-iconos{
    height: 30px;
}

.altura-iconos-contacto{
    height: 50px;
}
/* IDs */

#introduccion{
    height: 100vh;
}

#titulo-tentacion{
    font-size: 4.5em;
}

/* Efecto Opacity */

.introduccion-efecto{
    opacity: 1;
    transition: .5s linear;
}

/* Fondos */

.bg-fondo1{
    background-image: url(../images/mediterranean-cuisine-2378758.jpg);
    background-size: cover;
    background-position: bottom;
}

.bg-blanco-transp{
    background-color: rgba(255, 255, 255, 0.20);
}

.bg-gris-claro{
    background-color: rgb(249, 249, 249);
}

.bg-fondo-2{
    background-image:url(../images/pizza-4968645.jpg);
    background-size: cover;  
    background-repeat: no-repeat;  
}

.bg-fondo-3{
    background-image:url(../images/fork-973900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fondo-4{
    background-image: url(../images/delicious-cupcakes-with-copy-space.jpg);
    background-size: cover;
    background-position: top;
}

.bg-negro{
    background-color: rgb(18, 17, 17);
    color: #FFF;
    transition: all .5s;
}

.bg-negro:hover{
    background-color: rgb(159, 12, 12);
    color: white;
}

.bg-white-op-70{
    background-color: white;
    opacity: 70%;
}

/* Enlaces */

.enlacesTop{
    text-decoration: none;
    color: white;
    position: relative;
overflow: hidden;
display: inline-block;
}


.enlacesTop:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:  rgba(255, 255, 255, .7);
    transition: left .8s;
    }

.enlacesTop:hover:after {
    left: 0;
    opacity: 100%;
}

.enlacesBottom{
    text-decoration: none;
    color: white;
    position: relative;
overflow: hidden;
display: inline-block;
}    

.enlacesBottom:hover{
    color: rgb(159, 12, 12);
}
.enlacesBottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 50%;
    height: 2px;
    background: rgb(159, 12, 12);
    transition: left .8s;
    }

.enlacesBottom:hover:after {
    left: 0;
    opacity: 100%;
}






































































































































































































































































































































































































































































































































































































































































































































































































































/* Jajaja, yo broma */